:root{
    --cor-icone: #4970BF;
    --cor-texto: black;
    --cor-back1: #FAFCFB;
    --cor-back2: #54592C;
    --cor-sombra: black;
    --cor-backdark:#162133 ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 414px;
    width: 100%;
    padding: 16px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    font-family: "Arimo", sans-serif;
    gap: 8px;
    background-color: var(--cor-back1);
}

header,.mensagens,.aulas,.noticias{
    padding: 16px;
    gap: 8px;
    color: var(--cor-texto);
    box-shadow: 0 0 10px var(--cor-sombra);
}


header {
    display: grid;
    padding: 16px;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
}

.svg_logo_inatel {
    fill: var(--cor-icone);
    width: 100%;
    height: auto;
}

.menu{
    display: none;
}

#icon_menu{
    color: var(--cor-icone);
    font-size: 30px ;
    cursor: pointer;
}

#user_icon{
    color: var(--cor-icone);
    font-size: 30px ;
}

.mensagens{
    margin: 16px auto;
    display: flex;
    flex-direction: column;
}
.aulas{
    margin: 16px auto;
    display: flex;
    flex-direction: column;
}
.noticias{
    margin: 16px auto;
    display: flex;
    flex-direction: column;
}
